<h2>Book Appointment</h2>
<div class = form>
<select [(ngModel)]="selectedPatientId">
  <option [ngValue]="">Select Patient</option>
  <option *ngFor="let patient of patients" [ngValue]="patient.id">
    {{ patient.name }}
  </option>
</select>

<select [(ngModel)]="selectedDoctorId">
  <option [ngValue]="">Select Doctor</option>
  <option *ngFor="let doctor of doctors" [ngValue]="doctor.id">
    {{ doctor.name }} - {{ doctor.specialization }}
  </option>
</select>

<input type="date" [(ngModel)]="appointmentDate" />
<input placeholder="Reason" [(ngModel)]="reason" />

<br /><br />
<button (click)="bookAppointment()">Book Appointment</button>
</div>
<hr />

<h3>Appointment List</h3>

<table border="1" cellpadding="8">
  <tr>
    <th>Patient</th>
    <th>Doctor</th>
    <th>Date</th>
    <th>Reason</th>
  </tr>
  <tr *ngIf="appointments.length === 0">
  <td colspan="4">No appointments found</td>
</tr>

  <tr *ngFor="let appt of appointments">
    <td>{{ appt.patientName }}</td>
    <td>{{ appt.doctorName }}</td>
    <td>{{ appt.date }}</td>
    <td>{{ appt.reason }}</td>
    <td>
       <button (click)="deleteAppointment(appt.id)">Delete</button>
       <button (click)="editAppointment(appt)">Edit</button>
    </td>
  </tr>
</table>
<div *ngIf="selectedAppointment">
  <h3>Edit Appointment</h3>

  <select [(ngModel)]="selectedAppointment.patientId">
    <option *ngFor="let patient of patients" [ngValue]="patient.id">
      {{ patient.name }}
    </option>
  </select>

  <select [(ngModel)]="selectedAppointment.doctorId">
    <option *ngFor="let doctor of doctors" [ngValue]="doctor.id">
      {{ doctor.name }}
    </option>
  </select>

  <input type="date" [(ngModel)]="selectedAppointment.date" />
  <input [(ngModel)]="selectedAppointment.reason" />

  <br /><br />
  <button (click)="updateAppointment()">Update</button>
</div>

