<h2>Patient Management</h2>

<h3>Add Patient</h3>
<div class = "form">
<input placeholder="Name" [(ngModel)]="newPatient.name" />
<input type="number" placeholder="Age" [(ngModel)]="newPatient.age" />
<input placeholder="Gender" [(ngModel)]="newPatient.gender" />
<input placeholder="Contact" [(ngModel)]="newPatient.contact" />

<br /><br />
<button (click)="addPatient()">Add Patient</button>
</div>
<hr />

<h3>Patient List</h3>

<table class="data-table">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Contact</th>
  </tr>
  <tr *ngIf="patients.length === 0">
  <td colspan="5">No patients found</td>
</tr>

  <tr *ngFor="let patient of patients">
    <td>{{ patient.name }}</td>
    <td>{{ patient.age }}</td>
    <td>{{ patient.gender }}</td>
    <td>{{ patient.contact }}</td>
    <td>
        <button (click)="editPatient(patient)">Edit</button>
        <button (click)="deletePatient(patient.id)">Delete</button>
    </td>
  </tr>
</table>
<div *ngIf="selectedPatient">
  <h3>Edit Patient</h3>

  <input [(ngModel)]="selectedPatient.name" />
  <input type="number" [(ngModel)]="selectedPatient.age" />
  <input [(ngModel)]="selectedPatient.gender" />
  <input [(ngModel)]="selectedPatient.contact" />

  <br /><br />
  <button (click)="updatePatient()">Update</button>
</div>
